@function random-stars ($n, $sc){
  $value: '#{random(2000)}px #{random(2000)}px #{$sc}';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{$sc}';
  }

  @return unquote($value);
}

$stars-small:  random-stars(700, '#fff');

#stars {
  width: 1px;
  height: 1px;
  position: relative;
  right: 25%;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: $stars-small
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small
}
